청년층 인구, 지방세액 추가

In [2]:
import pandas as pd

In [3]:
result = pd.read_excel('../results/ecm_result5.xlsx')

In [4]:
result.drop(columns=['Unnamed: 0'])
result.set_index(['시군구','year'],inplace=True)

In [5]:
tax2 = pd.read_excel("../EA_Data/지방세액.xlsx")
tax2.drop(columns='Unnamed: 0',inplace=True)
tax2.drop(index=0,inplace=True)
tax_m = tax2.melt(id_vars='세목별(1)',var_name='year')
tax_m['year'] = tax_m['year'].astype(int)

In [6]:
tax_m = tax_m[~tax_m['세목별(1)'].isin(['강원도','경기도','충청북도','충청남도','충청북도','경상남도','경상북도','전라남도','전라북도'])]

In [7]:
tax_m.set_index(['세목별(1)','year'],inplace=True)
diff2 = tax_m.index.symmetric_difference(result.index)
diff2

MultiIndex([], names=[None, 'year'])

In [8]:
tax_m.reindex(result.index)

                    value
시군구     year
서울특별시   2022  28782134519
부산광역시   2022   6806340572
대구광역시   2022   4363051202
인천광역시   2022   6143931789
광주광역시   2022   2635299060
...                   ...
산청군     2008     20858164
함양군     2008     37081296
거창군     2008     30931469
합천군     2008     21311197
제주특별자치도 2008    445058786

[2415 rows x 1 columns]

In [9]:
final = pd.concat([result, tax_m],axis=1)
final

,,Unnamed: 0,시도,통합 필드,hos,cf,kin,elementary,doctors,qlifea,qlifes,...,public2,educ_ser,educ_ser2,health_ser,health_ser2,arts,arts2,associ,associ2,value
,year,,,,,,,,,,,,,,,,,,,,,
서울특별시,2022,0,서울특별시,서울,NaN,4.80,66524,393565,32704.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28782134519
부산광역시,2022,1,부산광역시,부산,NaN,4.30,36308,154858,8356.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6806340572
대구광역시,2022,2,대구광역시,대구,NaN,4.00,32272,121485,6192.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4363051202
인천광역시,2022,3,인천광역시,인천,NaN,4.30,35427,155906,5375.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6143931789
광주광역시,2022,4,광주광역시,광주,NaN,5.50,20998,83929,3751.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2635299060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
산청군,2008,2678,경상남도,산청,NaN,19.98,162,1593,32.0,0.89,0.94,...,879.0,95.0,826.0,80.0,572.0,53.0,349.0,323.0,512.0,20858164
함양군,2008,2679,경상남도,함양,NaN,4.94,389,2325,44.0,0.91,0.95,...,919.0,121.0,896.0,91.0,872.0,52.0,150.0,367.0,720.0,37081296
거창군,2008,2680,경상남도,거창,NaN,7.90,607,4277,62.0,0.94,0.96,...,1216.0,260.0,1764.0,141.0,1140.0,105.0,253.0,591.0,990.0,30931469
합천군,2008,2681,경상남도,합천,NaN,8.98,373,2445,56.0,0.90,0.94,...,1172.0,133.0,1042.0,96.0,812.0,62.0,301.0,459.0,771.0,21311197
제주특별자치도,2008,2682,제주특별자치도,제주,NaN,13.91,5016,48291,709.0,0.96,0.96,...,10310.0,2204.0,15760.0,1288.0,12498.0,1366.0,8828.0,4634.0,9714.0,445058786

In [10]:
final.to_excel('../results/ecm_result5.1.xlsx',index=False)

In [11]:
youth = pd.read_excel("../EA_Data/youth.xlsx")

In [12]:
youth_m = youth.melt(id_vars='시군구',var_name='year' )
youth_m['year'] = youth_m['year'].astype(int)
youth_m.set_index(['시군구','year'],inplace=True)

In [13]:
youth_m.reindex(result.index)

                 value
시군구     year
서울특별시   2022  0.227842
부산광역시   2022  0.179487
대구광역시   2022  0.184215
인천광역시   2022  0.196102
광주광역시   2022  0.200161
...                ...
산청군     2008  0.154838
함양군     2008  0.155166
거창군     2008  0.178242
합천군     2008  0.169442
제주특별자치도 2008  0.213957

[2415 rows x 1 columns]

In [14]:
youth_m.rename({'value':'youth'},axis=1,inplace=True)

In [15]:
final = pd.concat([result, youth_m],axis=1)
final

,,Unnamed: 0,시도,통합 필드,hos,cf,kin,elementary,doctors,qlifea,qlifes,...,public2,educ_ser,educ_ser2,health_ser,health_ser2,arts,arts2,associ,associ2,youth
시군구,year,,,,,,,,,,,,,,,,,,,,,
서울특별시,2022,0,서울특별시,서울,NaN,4.80,66524,393565,32704.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.227842
부산광역시,2022,1,부산광역시,부산,NaN,4.30,36308,154858,8356.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.179487
대구광역시,2022,2,대구광역시,대구,NaN,4.00,32272,121485,6192.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.184215
인천광역시,2022,3,인천광역시,인천,NaN,4.30,35427,155906,5375.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.196102
광주광역시,2022,4,광주광역시,광주,NaN,5.50,20998,83929,3751.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.200161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
산청군,2008,2678,경상남도,산청,NaN,19.98,162,1593,32.0,0.89,0.94,...,879.0,95.0,826.0,80.0,572.0,53.0,349.0,323.0,512.0,0.154838
함양군,2008,2679,경상남도,함양,NaN,4.94,389,2325,44.0,0.91,0.95,...,919.0,121.0,896.0,91.0,872.0,52.0,150.0,367.0,720.0,0.155166
거창군,2008,2680,경상남도,거창,NaN,7.90,607,4277,62.0,0.94,0.96,...,1216.0,260.0,1764.0,141.0,1140.0,105.0,253.0,591.0,990.0,0.178242
합천군,2008,2681,경상남도,합천,NaN,8.98,373,2445,56.0,0.90,0.94,...,1172.0,133.0,1042.0,96.0,812.0,62.0,301.0,459.0,771.0,0.169442
제주특별자치도,2008,2682,제주특별자치도,제주,NaN,13.91,5016,48291,709.0,0.96,0.96,...,10310.0,2204.0,15760.0,1288.0,12498.0,1366.0,8828.0,4634.0,9714.0,0.213957

In [16]:
final.to_excel('../results/ecm_result6.xlsx')