In [2]:
import pandas as pd

### 인구10만명 당 문화기반 시설: cf

In [ ]:
final_df = pd.read_excel('./ecm_result1.0.xlsx')
final_df.head(5)

In [ ]:
infra = pd.read_excel('./EA_Data/infra.xlsx',sheet_name = "문화시설")
infra = infra.drop(1)

In [8]:
print(len(infra.columns))
infra

17

,시도,시군구,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,NaN,NaN,인구십만명당 문화기반시설 수,인구십만명당 문화기반시설 수,인구십만명당 문화기반시설 수,인구십만명당 문화기반시설 수,인구십만명당 문화기반시설 수,인구십만명당 문화기반시설 수,인구십만명당 문화기반시설 수,인구십만명당 문화기반시설 수,인구십만명당 문화기반시설 수,인구십만명당 문화기반시설 수,인구십만명당 문화기반시설 수,인구십만명당 문화기반시설 수,인구십만명당 문화기반시설 수,인구십만명당 문화기반시설 수,인구십만명당 문화기반시설 수
2,서울특별시,서울특별시,4.8,4.6,4.4,4.2,4.09,3.92,3.7,3.5,3.39,3.19,2.93,2.82,2.7,2.77,2.38
3,부산광역시,부산광역시,4.3,4.1,3.9,3.6,3.11,2.97,2.8,2.5,2.24,2.21,2.15,2.06,1.8,1.83,1.49
4,대구광역시,대구광역시,4,4,3.8,3.7,3.25,2.99,2.9,2.9,2.65,2.56,2.43,2.35,2.1,1.89,1.73
5,인천광역시,인천광역시,4.3,4.3,4.1,3.9,3.52,3.43,3.3,3.3,3.03,2.85,2.74,2.57,2.4,2.25,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경상남도,거창군,9.9,9.8,9.8,9.6,8.01,7.97,7.9,7.9,7.92,7.91,7.92,7.92,7.9,7.91,7.9
177,경상남도,합천군,16.6,14,13.6,13.3,13.07,12.77,12.5,12.2,11.89,9.94,9.94,9.88,9.8,9.44,8.98
178,제주특별자치도,제주특별자치도,19.3,19.2,20,20.6,20.23,19.18,19.5,20.2,20.58,20.88,17.3,16.49,15.8,17.95,13.91
179,제주특별자치도,제주시,14.2,14,14.4,14.9,13.58,13.16,0,14.1,0,0,0,0,10.8,0,0
180,제주특별자치도,서귀포시,33,33.2,35.1,35.8,38.07,35.32,0,37.1,0,0,0,0,29.3,0,0

In [ ]:
for i,j in zip(range(2,17),range(0,15*179,179)):
    final_df.iloc[j:j+179,6] = infra.iloc[1:,i].astype(float).values
final_df

In [122]:
final_df.to_excel('ecm_result1.1.xlsx',sheet_name="economic_level",index=False)

### 학생수: kin, elementary

In [10]:
# final_df = pd.read_excel('./ecm_result1.1.xlsx')
# final_df.head(5)

kin = pd.read_excel('./EA_Data/edus.xlsx',sheet_name = "교육기관, 인력, 예산")
kin = kin.drop(1)
print(len(kin.columns))
kin

34

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시도,시군구,2023,Unnamed: 3,2022,Unnamed: 5,2021,Unnamed: 7,2020,Unnamed: 9,...,2012,Unnamed: 25,2011,Unnamed: 27,2010,Unnamed: 29,2009,Unnamed: 31,2008,Unnamed: 33
0,NaN,NaN,유치원원아수,초등학교 학생 수,유치원원아수,초등학교 학생 수,유치원원아수,초등학교 학생 수,유치원원아수,초등학교 학생 수,...,유치원원아수,초등학교 학생 수,유치원원아수,초등학교 학생 수,유치원원아수,초등학교 학생 수,유치원원아수,초등학교 학생 수,유치원원아수,초등학교 학생 수
2,서울특별시,서울특별시,"62,880","380,439","66,524","393,565","69,958","399,435","74,657","409,536",...,"87,997","502,000","81,237","535,948","78,789","566,149","79,704","598,514","82,144","807,007"
3,부산광역시,부산광역시,"34,244","152,219","36,308","154,858","38,651","153,921","40,765","153,527",...,"41,246","172,069","38,310","184,983","36,433","197,397","36,652","210,826","36,833","227,494"
4,대구광역시,대구광역시,"30,496","119,999","32,272","121,485","33,958","121,308","35,651","122,587",...,"31,657","146,899","28,669","157,693","27,178","167,548","27,570","178,029","27,329","189,585"
5,인천광역시,인천광역시,"34,777","155,083","35,427","155,906","36,170","155,271","38,319","156,928",...,"38,162","164,928","34,592","173,598","32,521","183,261","31,858","193,210","31,368","205,781"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경상남도,거창군,442,"2,626",436,"2,736",447,"2,896",508,"2,941",...,598,"3,293",581,"3,516",584,"3,772",582,"4,081",607,"4,277"
177,경상남도,합천군,181,987,190,"1,004",193,"1,098",215,"1,171",...,374,"1,620",322,"1,796",355,"2,045",331,"2,225",373,"2,445"
178,제주특별자치도,제주특별자치도,"5,589","40,531","5,945","41,628","6,277","41,328","6,395","40,575",...,"5,059","40,172","4,847","42,143","4,743","44,035","4,988","46,028","5,016","48,291"
179,제주특별자치도,제주시,"4,498","30,887","4,716","31,636","5,021","31,660","5,168","31,087",...,"4,249",0,"4,058",0,0,0,0,0,0,0
180,제주특별자치도,서귀포시,"1,091","9,644","1,229","9,992","1,256","9,668","1,227","9,488",...,810,0,789,0,0,0,0,0,0,0

In [ ]:
for i,j in zip(range(4,4+15*2,2),range(0,15*179,179)):
    final_df.iloc[j:j+179,7:9] = kin.iloc[1:,i:i+2].values
final_df

final_df.to_excel('ecm_result1.2.xlsx',sheet_name="edus",index=False)

In [ ]:
final_df

### 의사수: doctors

In [12]:
# final_df = pd.read_excel('./ecm_result1.2.xlsx')

doctors = pd.read_excel('./EA_Data/healthcare.xlsx',sheet_name = "보건의료인력")
doctors = doctors.drop(1)

In [13]:
print(len(doctors.columns))
doctors

18

,시도,시군구,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,NaN,NaN,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수,의사 수
2,서울특별시,서울특별시,"33,868","32,704","32,045","31,140","30,359","29,378","28,746","28,189","27,726","27,465","27,055","25,331","24,791","24,400","23,212","22,067"
3,부산광역시,부산광역시,"8,460","8,356","8,219","8,102","8,008","7,852","7,735","7,637","7,538","7,341","7,152","6,928","6,765","6,522","6,191","6,033"
4,대구광역시,대구광역시,"6,335","6,192","6,083","6,013","5,908","5,721","5,552","5,495","5,335","5,195","5,114","5,013","4,837","4,768","4,683","4,551"
5,인천광역시,인천광역시,"5,661","5,375","5,208","5,130","5,071","4,893","4,684","4,469","4,351","4,167","3,936","3,739","3,605","3,406","3,353","3,224"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경상남도,거창군,72,74,80,90,78,74,75,69,69,64,63,63,64,68,69,62
177,경상남도,합천군,47,52,54,56,47,49,54,59,55,53,56,55,53,55,60,56
178,제주특별자치도,제주특별자치도,"1,229","1,214","1,195","1,185","1,175","1,137","1,112","1,047","1,021",961,940,861,829,804,761,709
179,제주특별자치도,제주시,"1,028","1,017","1,011",998,993,963,937,885,861,810,803,729,699,678,636,590
180,제주특별자치도,서귀포시,201,197,184,187,182,174,175,162,160,151,137,132,130,126,125,119

In [ ]:
for i,j in zip(range(3,3+15),range(0,15*179,179)):
    final_df.iloc[j:j+179,9] = doctors.iloc[1:,i].values

In [ ]:
final_df

In [132]:
final_df.to_excel('ecm_result1.3.xlsx',sheet_name="doctors",index=False)

### 삶의 질: life

In [ ]:
# final_df = pd.read_excel('./ecm_result1.3.xlsx')

lifes = pd.read_excel('./EA_Data/life.xlsx',sheet_name = "삶의 질")
lifes = lifes.drop(1)

,시도,시군구,2023,Unnamed: 3,Unnamed: 4,Unnamed: 5,2022,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,2009,Unnamed: 59,Unnamed: 60,Unnamed: 61,2008,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,NaN,삶의 질 지수(EQ-5D)_조율,삶의 질 지수(EQ-5D)_표준화율,행복감 지수_조율,행복감 지수_표준화율,삶의 질 지수(EQ-5D)_조율,삶의 질 지수(EQ-5D)_표준화율,행복감 지수_조율,행복감 지수_표준화율,...,행복감 지수_조율,행복감 지수_표준화율,삶의 질 지수(EQ-5D)_조율,삶의 질 지수(EQ-5D)_표준화율,행복감 지수_조율,행복감 지수_표준화율,삶의 질 지수(EQ-5D)_조율,삶의 질 지수(EQ-5D)_표준화율,행복감 지수_조율,행복감 지수_표준화율
2,서울특별시,서울특별시,0,0,0,0,0,0,0,0,...,0,0,0.96,0.96,0,0,0.97,0.97,0,0
3,부산광역시,부산광역시,0,0,0,0,0,0,0,0,...,0,0,0.96,0.96,0,0,0.96,0.96,0,0
4,대구광역시,대구광역시,0,0,0,0,0,0,0,0,...,0,0,0.96,0.96,0,0,0.96,0.96,0,0
5,인천광역시,인천광역시,0,0,0,0,0,0,0,0,...,0,0,0.95,0.95,0,0,0.96,0.96,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경상남도,거창군,0,0,0,0,0,0,0,0,...,0,0,0.93,0.96,0,0,0.94,0.96,0,0
177,경상남도,합천군,0,0,0,0,0,0,0,0,...,0,0,0.91,0.95,0,0,0.9,0.94,0,0
178,제주특별자치도,제주특별자치도,0,0,0,0,0,0,0,0,...,0,0,0.94,0.95,0,0,0.96,0.96,0,0
179,제주특별자치도,제주시,0,0,0,0,0,0,0,0,...,0,0,0.94,0.94,0,0,0,0,0,0
180,제주특별자치도,서귀포시,0,0,0,0,0,0,0,0,...,0,0,0.95,0.96,0,0,0,0,0,0

In [15]:
print(len(lifes.columns))

66

In [ ]:
for i,j in zip(range(6,6+15*4,4),range(0,15*179,179)):
    final_df.iloc[j:j+179,10:14] = lifes.iloc[1:,i:i+4].values
final_df

In [139]:
final_df.to_excel('ecm_result1.4.xlsx',sheet_name="life",index=False)

### 인구: 동태

In [ ]:
final_df = pd.read_excel('./ecm_result1.4.xlsx')

pop_d = pd.read_excel('./EA_Data/pop_d.xlsx',sheet_name = "인구동태")
pop_d = pop_d.drop(1)
pop_d

In [ ]:
for i,j in zip(range(12,12+15*10,10),range(0,15*179,179)):
    final_df.iloc[j:j+179,15:25] = pop_d.iloc[1:,i:i+10].values
final_df

In [143]:
final_df.to_excel('ecm_result1.5.xlsx',sheet_name="pop_d",index=False)

### 인구: 정태

In [ ]:
final_df = pd.read_excel('./ecm_result1.5.xlsx')

pop_s = pd.read_excel('./EA_Data/pop_s.xlsx',sheet_name = "인구정태")
pop_s = pop_s.drop(1)
pop_s

In [ ]:
for i,j in zip(range(6,6+15*4,4),range(0,15*179,179)):
    final_df.iloc[j:j+179,25:29] = pop_s.iloc[1:,i:i+4].values
final_df

In [147]:
final_df.to_excel('ecm_result1.6.xlsx',sheet_name="pop_s",index=False)

### 스트레스

In [ ]:
# final_df = pd.read_excel('./ecm_result1.6.xlsx')

stress = pd.read_excel('./EA_Data/stress.xlsx',sheet_name = "스트레스")
stress = stress.drop(1)
stress.head(5)

In [17]:
print(len(stress.columns))

34

In [ ]:
for i,j in zip(range(4,4+15*2,2),range(0,15*179,179)):
    final_df.iloc[j:j+179,29:31] = stress.iloc[1:,i:i+2].values
final_df

In [152]:
final_df.to_excel('ecm_result1.7.xlsx',sheet_name="stress",index=False)

In [4]:
df = pd.read_excel('./results/ecm_result1.7.xlsx')

lpv = pd.read_excel('./EA_Data/landPrice.xlsx')
grdp = pd.read_excel('./EA_Data/grdp.xlsx')

In [ ]:
# for i,j in zip(range(6,6+15),range(0,15*179,179)):
#     df.iloc[j:j+179,31] = lpv.iloc[1:,i].values

# for i,j in zip(range(3,3+14),range(0,14*179,179)):
#     df.iloc[j:j+179,32] = grdp.iloc[1:,i].values
    
# df

## 2차

In [88]:
df = pd.read_excel('./results/ecm_result1.9.xlsx')

### 미분양: 전처리 필요

##### 데이터확인

In [2]:
nonhouse = pd.read_excel('./EA_Data/nonhouse.xlsx')

nonhouse.rename(columns={"미분양주택현황보고(Unsold New Housings) / 시·군·구별 미분양현황 (200012 ~ 202409)":"월","Unnamed: 1": "구분", "Unnamed: 2": "시군구","Unnamed: 3": "미분양"}, inplace=True)
nonhouse.columns

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['월', '구분', '시군구', '미분양'], dtype='object')

In [ ]:
nonhouse.drop(index=[0,1,2,3],inplace=True)
nonhouse.head(8)

nonhouse = nonhouse[
    ~(
        (nonhouse['월'].str[-2:] != "12") |
        (nonhouse['월'].str[:4] == "2023") |
        (nonhouse['구분'].isin(['서울', '부산', '대구', '인천', '광주', '대전', '울산'])) &
        (nonhouse['시군구'].str.strip() != "계") 

    )
]

nonhouse.to_excel('pp_nonhouse.xlsx', index=False)

##### 데이터 merge

In [33]:
nonhouse = pd.read_excel("EA_Data/nonhouse2.0.xlsx")

In [ ]:
for i,j in zip(range(len(nonhouse)-179,-1,-179),range(0,15*179,179)):
    df.iloc[j:j+179,34] = nonhouse.iloc[i:i+179,3].values

In [90]:
df.to_excel("check.xlsx")

### 아파트 거래현황

In [ ]:
apt = pd.read_excel("EA_Data/apt.xlsx")
apt.drop(index=0,inplace=True)
apt

In [ ]:

for i,j in zip(range(16,1,-1),range(0,15*179,179)):
    df.iloc[j:j+179,35] = apt.iloc[:,i].values

### 교통편

In [ ]:
ktx = pd.read_excel("EA_Data/ktx.xlsx")
ktx

In [ ]:
df["ktx"] = ktx["KTX개수"]

### 서울과의 직선거리

In [ ]:
distance = pd.read_excel("EA_Data/cal_distance.xlsx")
distance

In [ ]:
for j in range(0,15*179,179):
    df.iloc[j:j+179,37] = distance.iloc[:,6]
df

### 경제수준(update)

In [112]:
df = pd.read_excel("results/ecm_result.2.0.xlsx") #38-40
el = pd.read_excel("EA_Data/economic_level.xlsx")

In [119]:
for i,j in zip(range(2,2+15*3,3),range(0,15*179,179)):
    df.iloc[j:j+179,39:42] = el.iloc[1:,i:i+3].values

In [121]:
df.to_excel("./results/ecm_result.2.0.xlsx")

### else

###### 산업채 수 -> industry.ipynb
###### 자영업자수, 청년층 비율, 편의시설 수

### 청년층 비율